@use "../utilities" as *;

/**----------------------------------------
START: Testi CSS
----------------------------------------*/

.testi-carousel{
    overflow: visible;
    padding-top: 90px;
    padding-bottom: 80px;
    .swiper-pagination{
        bottom: 0;
        .swiper-pagination-bullet{
            height: 15px;
            width: 15px;
            border: 1px solid var(--rr-color-border-1);
            opacity: 1;
        }
    }
}

.testi-item{
    background-color: var(--rr-color-bg-1);
    padding: 100px 40px 40px 40px;
    position: relative;
    border-radius: 2em;
    .testi-thumb{
        height: 160px;
        width: 160px;
        border-radius: 50%;
        margin: 0 auto;
        position: absolute;
        top: -90px;
        left: 50%;
        transform: translateX(-50%);
        border: 10px solid #02050A;
        border-radius: 50%;
        img{
            object-fit: cover;
        }
    }
    .testi-content{
        .author{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
            span{
                color: var(--rr-color-theme-primary);
                font-size: 12px;
                text-transform: uppercase;
                display: block;
                margin-top: 15px;
            }
        }
    }
}

// Testi 2

.testi-wrap{
    padding-top: 90px;
}

// Testi 3

.testi-item.item-3{
    @include breakpoint(md){
        margin-bottom: 100px;
    }
    @include breakpoint(sm){
        margin-bottom: 80px;
    }
}


// Testi 4

.testi-content-4{ 
    padding-right: 40px;
    @include breakpoint(md){
        padding-right: 0;
    }
}

.testi-top{
    @include flex-horizontal-center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
    &:before{
        background-color: var(--rr-color-border-1);
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
    }
    .quote{
        background-color: var(--rr-color-bg-1);
        width: 80px;
        height: 80px;
        @include flex-center;
        border-radius: 50%;
        border: 1px solid var(--rr-color-border-1);
        img{
            width: 30px;
            height: 30px;
            object-fit: contain
        }
    }
    .swiper-arrow{
        @include flex-vertical-center;
        column-gap: 10px;
        .swiper-nav{
            background-color: var(--rr-color-bg-1);
            border: 1px solid var(--rr-color-border-1);
            height: 50px;
            width: 50px;
            @include flex-center;
            color: var(--rr-color-common-white);
            font-size: 14px;
            border-radius: 50%;
            @include transition(all 0.3s ease-in-out);
            &:hover{
                background-color: var(--rr-color-theme-primary);
                color: var(--rr-color-common-white);
                border: 1px solid var(--rr-color-theme-primary);
            }
        }
    }
}

.testi-box{
    p{
        font-size: 22px;
        margin-bottom: 40px;
        line-height: 1.5;
    }
    .author-box{
        @include flex-vertical-center;
        column-gap: 15px;
        img{
            height: 70px;
            width: 70px;
            border-radius: 50%;
            border: 3px solid var(--rr-color-theme-primary);
        }
        .name{
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 0;
            span{
                display: block;
                font-size: 16px;
                font-weight: 400;
                color: var(--rr-color-text-body);
                margin-top: 10px;
            }
        }
    }
}

.testi-img-4{
    max-width: 630px;
    width: 100%;
    height: 100%;
    @include breakpoint(md){
        margin: 0 auto;
        margin-top: 20px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Testi 5

.testi-carousel-wrap{
    .testi-thumb-wrap{
        max-width: 310px;
        width: 100%;
        margin-bottom: 35px;
        .thumb-carousel{
            .swiper-slide{
                .testi-thumb{
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 3px solid transparent;
                    cursor: pointer;
                }
                &.swiper-slide-thumb-active{
                    .testi-thumb{
                        border: 3px solid var(--rr-color-theme-primary);
                    }
                }
            }
        }
    }
    .content-carousel{
        .testi-content{
            max-width: 640px;
            p{
                font-size: 18px;
                margin-bottom: 30px;
            }
            .author-info{
                .name{
                    font-size: 24px;
                    margin-bottom: 5px;
                }
                span{
                    font-size: 14px;
                }
            }
        }
    }
}

.testi-img-5{
    max-width: 640px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    @include breakpoint(md){
        margin: 0 auto;
        margin-top: 40px;
        height: auto;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* !END: Theme Testi CSS */

// testimonial-section-19 css

.testimonial-section-19 {
    .section-heading-19__info {
        padding-bottom: 23px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__item-wrapper {
        max-width: 942px;
        margin: 0 auto;

        .icon {
            text-align: center;
        }


    }

    &__content {
        text-align: center;
        margin-top: 58px;
        margin-bottom: 30px;
        .decs {
            font-weight: 400;
            font-size: 40px;
            line-height: 46px;
            color: #000000;
            font-family: var(--rr-ff-heading-2);
            margin-bottom: 60px;

            @include breakpoint(sm) {
                font-size: 30px;
                line-height: 31px;
            }
        }

        .name {
            font-weight: 400;
            font-size: 32px;
            line-height: 1;
            color: #000000;
            font-family: var(--rr-ff-heading-2);
            margin-bottom: 0;
        }
        & span {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.5);
            font-family: var(--rr-ff-body-2);
            margin: 0;
        }
    }

    &__thumb {
        display: flex;
        gap: 5px;
        justify-content: center;
        margin-top: 80px;
        max-width: 430px;
        height: 100%;
        margin: 0 auto;
        & img {
            max-width: 149px;
            height: 100%;
            border-radius: 100px;
            object-fit: cover;
            transition: all 0.4s ease;
            @media only screen and (max-width: 475px) {
                max-width: 90px;
            }
        }
        .testi-thumb{
            margin-top: 55px;
        }
        .testimonial-19-slider__gallery{
            .swiper-wrapper{
                .swiper-slide-active{
                    z-index: 2; 
                    position: relative;
                    .testi-thumb{
                        img {
                            transform: translateY(-35px) scale(1.1); 
                        }
                    }
                     
                }
            }
        }
    }

}



/* !END: Theme Testi CSS */
